*.msh
*.dat
*.h5
*.gz
*.out

# OpenFOAM case outputs (keep only setup directories/files)
*/[0-9]*/
*/-[0-9]*/
!*/0/
!*/0.orig/
*/processor*/
*/postProcessing/
*/dynamicCode/
*/log
*/log.*
*/logs/
*/jobInfo/
*/TDAC/
*/VTK/
*/sequencedVTK/
*/*.OpenFOAM
*/*.foam
*/*.blockMesh
